@import "../../global.scss";

.footer {
  background: $primaryBlack;
  color: $primaryDarkGray;
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  color: $primaryDarkGray;
}

.footer a:hover {
  text-decoration: none;
  color: $mainColor;
  cursor:pointer;
}

.footer p {
  margin-bottom: 0;
}
