@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


$mainColor: #F97300;
$primaryWhite: #ffffff;
$primaryLightGray: #f4f4f4;
$primaryBlack: #000;
$primaryDark: #343a40;
$primaryRed: #ef4035;
$primaryHoverRed: #f33501;
$mainFont : 'Roboto Condensed', sans-serif;

body {
  font-family: $mainFont;
}